@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
  margin: 0;
}

/* body {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
} */

#rest1 {
  width: 50px;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.4%;
}

#rest2 {
  width: 50px;
  height: 48px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.4%;
}

.title {
  margin-top: 0.5%;
  text-align: center;
  font-size: 150%;
  position: fixed;
  margin-left: 12%;
  padding: 0.5% 20% 0.5% 20%;
  color: #184e77;
  font-weight: bold;
  font-family: "Catamaran", sans-serif;
  color: #fff;
  /* font-size: 92px; */
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: #03045e;
  display: inline-block;
  border: 2px solid #006100;
  border-radius: 10px;
  background-color: #a8dadc;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#nav {
  display: flex;
  height: 55px;
}

/* CONTENT */

.content {
  margin-top: 5.5%;
  width: 50%;
  margin-left: 2%;
}

table,
th,
td {
  border: 0.5px solid black;
  font-family: "Nunito", sans-serif;
  border-collapse: collapse;
  background-color: #f1faee;
  text-align: center;
  width: 400px;
}

td {
  font-size: small;
  text-align: left;
}

th {
  background-color: #d8f3dc;
  font-size: smaller;
}

.sr {
  width: 7%;
}

.tdataItem {
  width: 30%;
}

.tdata {
  width: 15%;
}

.tdataTotal {
  width: 20%;
}

#quantNumber {
  width: 50%;
  border: 2px solid #0a9396;
  background-color: #d8e2dc;
}

#firstTable {
  margin: 1%;
}

#secondTable {
  margin: 1%;
}

#thirdTable {
  margin: 1%;
  height: 40%;
}

#displayTables {
  margin-top: 0.5%;
  display: flex;
}

input {
  width: 40px;
  height: 20px;
  padding: 0%;
}